<div class="work">
  <div class="sub">
    <img class="img" src="../../../assets/gfx/websites.svg" />
    <h3 class="sub-title">Web development</h3>
    <p class="description">
      I develop robust and responsive websites and hybrid web-apps, from front-end to back-end.
    </p>
  </div>
  <div class="sub">
    <img class="img" src="../../../assets/gfx/software.svg" />
    <h3 class="sub-title">Software development</h3>
    <p class="description">
      When a website just isn't enough, I can develop custom software solutions to fit your needs.
    </p>
  </div>
  <div class="sub">
    <img class="img" src="../../../assets/gfx/games.svg" />
    <h3 class="sub-title">Game design & gamification</h3>
    <p class="description">
      If you want to keep people engaged with your project for longer, I can design and develop a gamified solution to do so.
    </p>
  </div>
</div>
