.work {
  padding-bottom: 6rem;
  
  .sub {
    align-items: center;
    background: url('../../assets/gfx/shape_white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 0.5rem;
    position: relative;

    &:after {
      background: url('../../assets/gfx/shape_white.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      content: '';
      height: calc(100% + 4rem);
      opacity: 0.33;
      left: -2rem;
      position: absolute;
      top: -2rem;
      transform: rotateZ(180deg);
      width: calc(100% + 4rem);
      z-index: -1;
    }

    .img {
      aspect-ratio: 1/1;
      width: 40%;
    }

    .sub-title {
      color: var(--col-blue-darker);
      font-family: 'Montserrat', sans-serif;
      font-size: 1.25rem;
      font-weight: 600;
      padding: 0.5rem 0;
      width: 100%;
    }

    .description {
      color: var(--col-grey-medium);
      line-height: 1.6rem;
    }
  }
}

@media screen and (min-width: 640px) {
  .work {
    display: flex;
    justify-content: space-between;

    .sub {
      width: 33%;

      .sub-title {
        text-align: center;
      }

      .description {
        text-align: center;
      }
    }
  }
}

