<div class="work">
  <app-jump-in-box className="web-dev">
    <div class="sub">
      <img class="img" src="../../../assets/gfx/websites.svg" />
      <div class="text-content">
        <h3 class="sub-title">1. Web development</h3>
        <p class="description">
          I develop robust, dynamic and responsive websites and hybrid web-apps, from front-end to back-end. I do so using modern frameworks like <span class="highlight">Angular</span>, <span class="highlight">VueJS</span>, <span class="highlight">React (-native)</span> and <span class="highlight">Node</span>.
        </p>
        <p class="link">
          See more
          <i class="material-icons">chevron_right</i>
        </p>
      </div>
    </div>
  </app-jump-in-box>
  <app-jump-in-box className="software-dev">
    <div class="sub">
      <img class="img" src="../../../assets/gfx/software.svg" />
      <div class="text-content">
        <h3 class="sub-title">2. Software development</h3>
        <p class="description">
          When a website just isn't enough, I can develop custom software solutions to fit your needs.
        </p>
        <p class="link">
          See more
          <i class="material-icons">chevron_right</i>
        </p>
      </div>
    </div>
  </app-jump-in-box>
  <app-jump-in-box className="game-dev">
    <div class="sub">
      <img class="img" src="../../../assets/gfx/games.svg" />
      <div class="text-content">
        <h3 class="sub-title">3. Game design & gamification</h3>
        <p class="description">
          If you want to keep people engaged with your project for longer, I can design and develop a gamified solution to help with that.
        </p>
        <p class="link">
          See more
          <i class="material-icons">chevron_right</i>
        </p>
      </div>
    </div>
  </app-jump-in-box>
</div>
