@keyframes rotateRight {
  0% {
    transform: rotate(0deg) scale(1.3);
  }
  25% {
    transform: rotate(180deg) scale(1.1);
  }
  50% {
    transform: rotate(360deg) scale(1);
  }
  75% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1.3);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(270deg) scale(1.5);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  75% {
    transform: rotate(270deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.header {
  background-color: var(--col-blue-desaturated);
  background: linear-gradient(180deg, #ffffff 0%, #eaeaf7 100%);
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  position: relative;
  width: 100%;

  .iso-wrapper {
    padding: 4rem 1rem 1rem 1rem;
  }

  .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    .profile-image {
      position: relative;
      pointer-events: none;

      .picture {
        border-radius: 5.5rem;
        height: 10rem;
        width: 10rem;
        z-index: var(--z-content);
      }

      .logo {
        bottom: 0;
        height: 4rem;
        position: absolute;
        right: 0;
        width: 4rem;
        z-index: var(--z-content-overlay);
      }

      &:before {
        background-image: url('../../assets/gfx/shape_blue_light.svg');
        background-size: cover;
        content: '';
        height: 12rem;
        left: -0.5rem;
        opacity: 0.2;
        position: absolute;
        top: -0.5rem;
        width: 12rem;

        animation-name: rotateRight;
        animation-duration: 8s;
        animation-iteration-count: infinite;
      }

      &:after {
        background-image: url('../../assets/gfx/shape_blue.svg');
        background-size: cover;
        content: '';
        height: 12rem;
        left: -0.5rem;
        opacity: 0.1;
        position: absolute;
        top: -0.5rem;
        transform: rotate(180deg);
        width: 12rem;

        animation-name: rotateLeft;
        animation-duration: 8s;
        animation-iteration-count: infinite;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      padding: 20vh 2rem;
      pointer-events: none;
      position: relative;
      top: -5rem;
      margin-bottom: -14rem;
      z-index: var(-z-up);

      .title {
        color: var(--col-blue-darker);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25rem;
        font-weight: 900;
        letter-spacing: 0.05rem;
        padding-bottom: 0.5rem;
        padding-top: 2rem;
      }

      .sub-title {
        color: var(--col-blue);
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9rem;
        font-weight: 500;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem 0 1rem 2rem;

        .row {
          align-items: center;
          color: var(--col-blue-darker);
          display: flex;
          padding-bottom: 1rem;

          .icon {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .header {
    overflow: hidden;

    .iso-wrapper {
      margin: auto;
      padding: 0;
      width: 60%;
    }

    .wrapper {
      align-items: center;
      flex-direction: row;
      margin-top: 0;

      .profile-image {
        margin-right: 2rem;
        margin-left: 10vw;
      }

      .content {
        padding: 20vh 4rem 30vh 4rem;

        .title {
          font-size: 2.5rem;
        }

        .sub-title {
          font-size: 1rem;
        }
      }
    }
  }
}
