<section class="header">
  <div class="iso-wrapper">
    <app-grid-background></app-grid-background>
  </div>
  <div class="profile-image">
    <img src="assets/sjoerd_van_den_broek.png" alt="profile picture" />
  </div>
  <!-- <div class="shape" src="assets/gfx/shape_white.svg" alt="profile picture"></div> -->
  <div class="content">
    <h1 class="title">Sjoerd van den Broek</h1>
    <h2 class="sub-title">Full-stack web developer and software engineer</h2>
    <div class="info">
      <div class="row">
        <i class="icon material-icons">event</i>
        <span class="data">15 May 1994</span>
      </div>
      <div class="row">
        <i class="icon material-icons">pin_drop</i>
        <span class="data">Waalwijk, the Netherlands</span>
      </div>
      <div class="row">
        <i class="icon material-icons">translate</i>
        <span class="data">Dutch, English</span>
      </div>
    </div>
  </div>
</section>
