.footer {
  position: relative;
  z-index: 10000;

  .cover {
    border-radius: 100% 100% 0 0;
    height: 3rem;
    margin: -3rem -1.5rem 0 -1.5rem;
    position: relative;
    width: calc(100% + 3rem);
    z-index: 1;

    &.a {
      background-color: var(--col-blue-darker);
      z-index: 100
    }

    &.b {
      background-color: var(--col-blue);
      border-radius: 150% 75% 0 0;
      opacity: 0.1;
      top: -0.5rem;
      width: calc(100% + 5rem);

      animation-name: morphA;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

    &.c {
      background-color: var(--col-blue-lightest);
      border-radius: 50% 100% 0 0;
      opacity: 0.2;
      top: -1rem;
      width: calc(100% + 2rem);
      z-index: -100;

      animation-name: morphB;
      animation-duration: 6s;
      animation-iteration-count: infinite;
    }
  }
  
  .content {
    background-color: var(--col-blue-darker);
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem 10vw;

    .row {
      &.shade {
        opacity: 0.8;
      }

      &.grow {
        flex-grow: 1;
      }

      .title {
        color: var(--col-white);
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25rem;
        font-weight: 600;
        padding-bottom: 0.25rem;
        letter-spacing: 0.04rem;
      }

      .sub-title {
        color: var(--col-white);
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9rem;
        font-weight: 400;
        padding-bottom: 1.5rem;
      }

      .item {
        align-items: center;
        color: var(--col-white);
        display: flex;
        transition: opacity .2s;
        margin-bottom: 0.5rem;

        &:hover {
          opacity: 0.6;
        }

        &:active {
          opacity: 0.4;
        }

        .icon {
          font-size: 1.25rem;
          margin-right: 0.75rem;

          &.linkedin {
            height: 1rem;
            margin-left: 3px;
            width: 1rem;
          }

          &.twitter {
            height: 1.5rem;
            margin-left: -1px;
            margin-right: 0.5rem;
            width: 1.5rem;
          }
        }

        .label {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.bottom-lint {
  background-color: var(--col-blue-darkest);
  padding: 0.5rem 1rem;

  .label {
    color: var(--col-grey);
    font-size: 0.6rem;
    text-align: left;

    .deco {
      opacity: 0.7;
    }
  }
}

@media screen and (min-width: 640px) {
  .footer {
    &.blue::before {
      background-color: var(--col-blue-desaturated);
    }

    .content {
      flex-direction: row;
      padding: 4rem 10vw 5rem 10vw;

      .row {
        padding-right: 6rem;

        .sub-title {
          padding-bottom: 0.5rem;
        }
      }
    }
  }

  .bottom-lint {
    .label {
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
