<footer class="footer" [class.blue]="theme === 'blue'">
  <div class="cover a"></div>
  <div class="cover b"></div>
  <div class="cover c"></div>
  <div class="content">
    <div class="row shade">
      <h4 class="title">Sjoerd van den Broek</h4>
      <h5 class="sub-title">Full-stack web developer and<br />software engineer</h5>
    </div>
    <div class="row grow">
      <a class="item" href="mailto:inquiries@mrvanderpants.com" target="_blank">
        <i class="icon material-icons">mail</i>
        <span class="label">inquiries@mrvanderpants.com</span>
      </a>
      <a class="item" href="https://www.linkedin.com/in/mrvanderpants/" target="_blank">
        <img class="icon linkedin" src="assets/linkedin.svg" alt="icon" />
        <span class="label">LinkedIn</span>
      </a>
      <a class="item" href="https://twitter.com/MRvanderPants" target="_blank">
        <img class="icon twitter" src="assets/twitter.svg" alt="icon" />
        <span class="label">Twitter</span>
      </a>
    </div>
  </div>
</footer>
<div class="bottom-lint">
  <p class="label"><span class="deco">2023 - </span>Sjoerd van den Broek</p>
</div>
