@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  margin-bottom: -4rem;

  .logo-wrapper {
    margin-bottom: 2rem;
    padding: 1rem;
    position: relative;
    width: 8rem;

    .logo {
      border-radius: 1rem;
      height: 100%;
      width: 100%;
    }

    &:before {
      background: url('../../../assets/gfx/shape_deep.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      // transform: rotateZ(180deg);
      width: 100%;
      z-index: var(--z-down);
      animation: rotateRight 8s linear infinite;
    }

    &:after {
      background: url('../../../assets/gfx/shape_deep.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      content: '';
      height: calc(100% + 4rem);
      opacity: 0.33;
      left: -2rem;
      position: absolute;
      top: -2rem;
      // transform: rotateZ(180deg);
      width: calc(100% + 4rem);
      z-index: var(--z-down);
      animation: rotateLeft 8s linear infinite;
    }
  }

  a {
    color: #000000;
  }

  .title-wrapper {
    margin: 0 0 0 1rem;

    .title {
      color: var(--col-blue-darker);
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5rem;
      font-weight: 900;
      padding-bottom: 0.5rem;
      position: relative;
    }

    .sub-title {
      color: var(--col-blue);
      font-family: 'Montserrat', sans-serif;
      font-size: 1.1rem;
      font-weight: 500;
      margin: 1rem 0;

      &.description {
        color: var(--col-grey);
        line-height: 1.75rem;
      }
    }

    .meta-info {
      color: var(--col-grey);
      display: flex;
      font-size: 0.9rem;
      letter-spacing: 0.033rem;
      margin: auto;
    
      .meta-item {
        align-items: center;
        // background-color: var(--col-blue);
        border-radius: 0.25rem;
        display: flex;
        margin-right: 1rem;
        padding: 0.125rem 0.5rem 0.125rem 0.25rem;
    
        .icon {
          font-size: 1rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .header {
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    padding: 1.5rem;

    .logo-wrapper {
      margin-right: 4rem;
      margin-bottom: 0;

      .logo {
        height: 8rem;
        width: 8rem;
      }
    }

    .title-wrapper {
      .title {
        font-size: 4rem;
      }

      .sub-title {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
  .wrapper {
    .content {
      padding: 2rem 1rem;

      .title {
        font-size: 2rem;
      }

      .sub-title {
        font-size: 1rem;
      }
    }

    .image {
      border-radius: 0.5rem;
      display: block;
      height: fit-content;
      margin-top: 1rem;
      width: 60%;
    }
  }
}
