<app-content-block>
  <div class="header">
    <div class="logo-wrapper">
      <img class="logo" alt="project-logo" [src]="project?.logo" />
    </div>
    <div class="title-wrapper">
      <h1 class="title">
        {{project?.title}}
      </h1>
      <p class="sub-title" [class.description]="neutralDescription">{{project?.description}}</p>
      <div class="meta-info" *ngIf="showTags">
        <div class="meta-item" title="Team size">
          <i class="icon material-icons">person</i>
          <span class="label">{{project?.teamSize}}</span>
        </div>
        <div class="meta-item" title="Project duration">
          <i class="icon material-icons">timer</i>
          <span class="label">{{project?.duration}}</span>
        </div>
        <a *ngIf="project?.url" [href]="project?.url" target="_blank">
          <div class="meta-item" title="Visit the live project">
            <i class="icon material-icons">ios_share</i>
            <span class="label">Visit</span>
          </div>
        </a>
        <div class="meta-item">
          <i class="icon material-icons">code</i>
          <span class="label" *ngFor="let tech of project?.technologies; let i = index;">
            {{tech}}<span *ngIf="project && project.technologies && i < project.technologies.length - 1">,&nbsp;</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</app-content-block>
