<footer class="footer" [class.blue]="theme === 'blue'" id="footer">
  <div class="cover"></div>
  <div class="content">
    <div class="content-wrapper">
      <div class="content-description-wrapper">
        <img class="contact-image" src="assets/gfx/contact.svg" alt="contact-image" />
        <h2 class="footer-title">Would you like to get in touch?</h2>
        <p class="footer-description">
          The easiest way to get in touch is to either send me a email or leave a message using the form.
        </p>
      </div>
      <div class="contact-form">
        <app-contact-form></app-contact-form>
      </div>
    </div>
    <app-footer-colofon></app-footer-colofon>
  </div>
</footer>
<app-footer-lint></app-footer-lint>
