.footer {
  position: relative;
  z-index: var(--z-navigation);

  .cover {
    background-color: var(--col-blue-desaturated-dark);
    border-radius: 100% 100% 0 0;
    height: 3rem;
    margin: -3rem -1.5rem 0 -1.5rem;
    position: relative;
    width: calc(100% + 3rem);
    z-index: 100;
    z-index: var(--z-up);
  }
  
  .content {
    background-color: var(--col-blue-desaturated-dark);
    margin: auto;
    padding: 2rem 10vw;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 6rem;

      .content-description-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .contact-form {
        display: flex;
        justify-content: center;
        flex-grow: 1;
      }
    }

    .footer-title {
      color: var(--col-blue);
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5rem;
      width: 100%;
    }

    .footer-description {
      color: var(--col-white);
      font-size: 1.2rem;
      padding: 0.5rem 0 3rem 0;
    }

    .contact-image {
      aspect-ratio: 1/1;
      margin-bottom: 2rem;
      width: 60vw;
      background: url('../../../assets/gfx/shape_deep.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .wrapper {
      display: flex;
      flex-direction: column;

      .row {
        &.shade {
          opacity: 0.8;
        }

        &.grow {
          flex-grow: 1;
        }

        .title {
          color: var(--col-green);
          font-family: 'Montserrat', sans-serif;
          font-size: 1.25rem;
          font-weight: 600;
          padding-bottom: 0.25rem;
          letter-spacing: 0.04rem;
        }

        .sub-title {
          color: var(--col-white);
          font-family: 'Montserrat', sans-serif;
          font-size: 0.9rem;
          font-weight: 400;
          line-height: 1.25rem;
          margin-left: 0.5rem;
          padding-bottom: 1.5rem;
        }

        .item {
          align-items: center;
          color: var(--col-white);
          display: flex;
          transition: opacity .2s;
          margin-bottom: 0.5rem;

          &:hover {
            opacity: 0.6;
          }

          &:active {
            opacity: 0.4;
          }

          .icon {
            font-size: 1.25rem;
            margin-right: 0.75rem;

            &.linkedin, &.github {
              height: 1rem;
              margin-left: 3px;
              width: 1rem;
            }

            &.twitter {
              height: 1.5rem;
              margin-left: -1px;
              margin-right: 0.5rem;
              width: 1.5rem;
            }
          }

          .label {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

.bottom-lint {
  background-color: var(--col-blue-desaturated-medium);
  padding: 0.5rem 1rem;

  .label {
    color: var(--col-grey);
    font-size: 0.6rem;
    text-align: left;

    .deco {
      opacity: 0.7;
    }
  }
}

@media screen and (min-width: 640px) {
  .footer {
    &.blue::before {
      background-color: var(--col-blue-desaturated);
    }

    .footer-title {
      font-size: 2rem;
    }

    .content {
      padding: 4rem 10vw 5rem 10vw;

      .content-wrapper {
        flex-direction: row;

        .content-description-wrapper {
          margin-right: 4rem;
          width: 30vw;
        }
      }

      .contact-image {
        margin-bottom: 0;
        width: 20vw;
      }
      
      .wrapper {
        flex-direction: row;

        .row {
          padding-right: 6rem;

          .sub-title {
            padding-bottom: 0.5rem;
          }
        }
      }
    }
  }

  .bottom-lint {
    .label {
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
