.footer {
  position: relative;
  z-index: var(--z-navigation);

  .cover {
    background-color: var(--col-blue-desaturated-dark);
    border-radius: 100% 100% 0 0;
    height: 3rem;
    margin: -3rem -1.5rem 0 -1.5rem;
    position: relative;
    width: calc(100% + 3rem);
    z-index: 100;
    z-index: var(--z-up);
  }
  
  .content {
    background-color: var(--col-blue-desaturated-dark);
    margin: auto;
    padding: 2rem 1rem;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 6rem;

      .content-description-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .contact-form {
        display: flex;
        justify-content: center;
        flex-grow: 1;
      }
    }

    .footer-title {
      color: var(--col-blue);
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5rem;
      width: 100%;
    }

    .footer-description {
      color: var(--col-white);
      font-size: 1.2rem;
      padding: 0.5rem 0 3rem 0;
    }

    .contact-image {
      aspect-ratio: 1/1;
      margin-bottom: 2rem;
      width: 60vw;
      background: url('../../../assets/gfx/shape_deep.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

@media screen and (min-width: 640px) {
  .footer {
    &.blue::before {
      background-color: var(--col-blue-desaturated);
    }

    .footer-title {
      font-size: 2rem;
    }

    .content {
      padding: 4rem 10vw 5rem 10vw;

      .content-wrapper {
        flex-direction: row;

        .content-description-wrapper {
          margin-right: 4rem;
          width: 30vw;
        }
      }

      .contact-image {
        margin-bottom: 0;
        width: 20vw;
      }
    }
  }
}
