<div class="back-button" (click)="goBack()">
  <i class="icon material-icons">chevron_left</i>
  <span class="label">go back</span>
</div>
<app-content-block>
  <div class="header">
    <img class="logo" alt="project-logo" [src]="project?.logo" />
    <div class="title-wrapper">
      <h1 class="title">
        {{project?.title}}
      </h1>
      <div class="meta-info">
        <div class="meta-item" title="Team size">
          <i class="icon material-icons">person</i>
          <span class="label">{{project?.teamSize}}</span>
        </div>
        <div class="meta-item" title="Project duration">
          <i class="icon material-icons">timer</i>
          <span class="label">{{project?.duration}}</span>
        </div>
        <a *ngIf="project?.url" [href]="project?.url" target="_blank">
          <div class="meta-item" title="Visit the live project">
            <i class="icon material-icons">ios_share</i>
            <span class="label">Visit</span>
          </div>
        </a>
      </div>
      <p class="sub-title">{{project?.description}}</p>
    </div>
  </div>
  <div class="wrapper">
    <div class="content">
      <p class="description" *ngFor="let desc of project?.content">
        {{desc}}
      </p>
      <app-tag-list variant="large" *ngIf="project" [tags]="project!.technologies!"></app-tag-list>
    </div>
    <img class="image" alt="project-image" [src]="project?.image" />
  </div>
</app-content-block>
<app-content-block theme="blue" [rounded]="true" *ngIf="project?.screens">
  <app-picture-carousel [project]="project"></app-picture-carousel>
</app-content-block>
<app-content-block>
  <h4 class="more-title">See also</h4>
  <app-timeline>
    <app-timeline-projects-item
      *ngFor="let proj of otherProjects()"
      [project]="proj"
      [current]="project!">
    </app-timeline-projects-item>
  </app-timeline>
</app-content-block>
<app-footer theme="blue"></app-footer>
<app-back-to-top></app-back-to-top>
