.more-title {
  color: var(--col-blue-darker);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1rem 0;
}

.job-details {
  display: block;
  margin-bottom: 12rem;
}
