.background {
  background-color: var(--col-blue-deepest);
}

.more-title {
  color: var(--col-blue-darker);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1rem 0;
}

.job-details {
  display: block;
  margin-bottom: 12rem;
}

@media screen and (min-width: 640px) {
  .header {
    align-items: center;
    // background: linear-gradient(270deg, #f6f6f6 0%, #eaeaf7 100%);
    border-radius: 0.5rem;
    display: flex;
    padding: 1.5rem;

    .logo-wrapper {
      margin-right: 4rem;
      margin-bottom: 0;

      .logo {
        height: 8rem;
        width: 8rem;
      }
    }

    .title-wrapper {
      .title {
        font-size: 4rem;
      }

      .sub-title {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }
  .wrapper {
    .content {
      padding: 2rem 1rem;

      .title {
        font-size: 2rem;
      }

      .sub-title {
        font-size: 1rem;
      }
    }

    .image {
      border-radius: 0.5rem;
      display: block;
      height: fit-content;
      margin-top: 1rem;
      width: 60%;
    }
  }
}
