.content-block {
  display: flex;
  flex-direction: column;
  padding: 6rem 1.5rem;
  position: relative;
  z-index: var(--z-content);

  &.extraHigh {
    padding: 8rem 1.5rem;
  }

  &.rounded {
    padding-bottom: 0;
    padding-top: 0;
    z-index: var(--z-content-overlay);

    .content {
      padding-bottom: 2rem;
      padding-top: 2rem;
    }
  }

  &.blue {
    background-color: var(--col-blue-desaturated);
    position: relative;

    .cover {
      background-color: var(--col-blue-desaturated) !important;
    }
  }

  &.dark {
    background-color: transparent;
    position: relative;

    .cover {
      background-color: transparent !important;
    }
  }

  .cover {
    background-color: var(--col-grey-lightest);
    border-radius: 100% 100% 0 0;
    height: 3rem;
    margin: -3rem -1.5rem 0 -1.5rem;
    position: relative;
    width: calc(100% + 3rem);
    z-index: 100;
    z-index: var(--z-up);

    &.inverted {
      border-radius: 0 0 100% 100%;
      margin: 0 -1.5rem -3rem -1.5rem;
    }
  }

  .content {
    .title {
      color: var(--col-blue);
      font-family: 'Montserrat', sans-serif;
      font-size: 1.25rem;
      font-weight: 600;
      letter-spacing: 0.075rem;
      padding-bottom: 0.5rem;
    }
  }
}

@media screen and (min-width: 640px) {
  .content-block {
    .content {
      margin: auto;
      width: 80vw;

      .title {
        font-size: 4rem;
        padding-bottom: 1rem;
        padding-top: 2rem;
      }

      &.rounded {
        padding-bottom: 0;
        padding-top: 0;
    
        .content {
          padding-bottom: 6rem;
          padding-top: 6rem;
        }
      }
    }

    &.extraHigh {
      padding: 12rem 1.5rem;
    }
  }
}
