.back-to-top {
  align-items: center;
  background-color: var(--col-blue-darker);
  bottom: -100px;
  border: none;
  border-radius: 0.25rem 0.25rem 0 0;
  cursor: pointer;
  display: flex;
  color: var(--col-white);
  padding: 0.5rem 1rem;
  position: fixed;
  right: 5vw;
  transition: all 0.2s;
  z-index: var(--z-navigation-overlay);

  -webkit-box-shadow: 0 0.25rem 1rem 0.25rem #00000015;
  -moz-box-shadow:    0 0.25rem 1rem 0.25rem #00000015;
  box-shadow:         0 0.25rem 1rem 0.25rem #00000015;

  &:hover {
    background-color: var(--col-blue-darkest);
    transform: scale(1.05);
  }

  &:active {
    background-color: var(--col-blue-deep);
  }

  &.visible {
    bottom: 0;
  }

  .icon {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 640px) {
  .back-to-top {
    border-radius: 1.5rem;
    padding: 0.75rem;

    &.visible {
      bottom: 5rem;
      right: 1rem;
    }

    .label {
      display: none;
    }

    .icon {
      margin: 0;
    }
  }
}
