<div class="entry">
  <div class="start">
    <span class="year">{{job.date_start}}</span>
    <div>
      <div class="client" *ngFor="let client of job.clients">
        <i class="icon material-icons">location_on</i>
        <span class="label">{{client}}</span>
      </div>
      <div class="client">
        <i class="icon material-icons">
          work
        </i>
        <span class="label">{{job.role}}</span>
      </div>
    </div>
    <div class="description-wrapper">
      <p class="description">{{job.description}}</p>
      <div class="tech-tags">
        <div class="tag" *ngFor="let skill of job.skills">
          {{skill}}
        </div>
      </div>
    </div>
  </div>
</div>
