<section class="wrapper">
  <a class="item" [class.active]="targetId == 'top'" (click)="updateId('#top')">
    <i class="icon material-icons">work</i>
    <span class="label">My work</span>
  </a>
  <a class="item" [class.active]="targetId == 'tech'" (click)="updateId('#tech')">
    <i class="icon material-icons">build</i>
    <span class="label">What I do</span>
  </a>
  <a class="item" [class.active]="targetId == 'personalProjects'" (click)="updateId('#personalProjects')">
    <i class="icon material-icons">folder_open</i>
    <span class="label">Other work</span>
  </a>
  <a class="item" [class.active]="targetId == 'resume'" (click)="updateId('#resume')">
    <i class="icon material-icons">description</i>
    <span class="label">Resume</span>
  </a>
</section>
