<section class="wrapper" [class.hidden]="!headerHidden">
  <a class="logo-wrapper" [routerLink]="'/'">
    <img class="logo" src="assets/gfx/logo.png" alt="logo" />
    <h1 class="title">Sjoerd van den Broek</h1>
  </a>
  <a class="item" [class.active]="targetId == 'top'" (click)="updateId('#top')">
    <i class="icon material-icons">folder_open</i>
    <span class="label">My work</span>
  </a>
  <a class="item" [class.active]="targetId == 'tech'" (click)="updateId('#tech')">
    <i class="icon material-icons">architecture</i>
    <span class="label">What I do</span>
  </a>
  <a class="item" [class.active]="targetId == 'resume'" (click)="updateId('#resume')">
    <i class="icon material-icons">work</i>
    <span class="label">Resume</span>
  </a>
  <a class="item" [class.active]="targetId == 'footer'" (click)="updateId('#footer')">
    <i class="icon material-icons">alternate_email</i>
    <span class="label">Contact</span>
  </a>
</section>
