.entry {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  position: relative;
  transition: opacity .2s ease-in-out;

  &::after {
    background-color: var(--col-blue);
    background: url('../../assets/gfx/shape_blue.svg');
    background-size: contain;
    content: '';
    height: 1rem;
    left: -0.55rem;
    position: absolute;
    top: 0;
    width: 1rem;
  }

  .start {
    color: var(--col-grey-medium);
    opacity: 0.6;
    padding-bottom: 1rem;
    position: relative;
    top: -0.25rem;
    transition: all .2s;
    user-select: none;

    .year {
      color: var(--col-grey-darker);
      padding: 0.25rem 1rem;
      margin: 0 1rem;
    }

    .chevron {
      color: var(--col-grey);
      margin-left: 0;
      margin-right: 0.5rem;
    }
    
    .client {
      display: flex;
      margin: 0.5rem 0 1rem 1.5rem;
      width: 200px;

      .icon {
        color: var(--col-grey-medium);
        opacity: 0.75;
        margin: 0 0.75rem;
      }

      .label {
        color: var(--col-grey-darker);
        margin-right: 0.5rem;
      }
    }

    .description-wrapper {
      padding: 0 2rem;

      .description {
        color: var(--col-grey-darker);
        font-size: 0.9rem;
        margin-bottom: 1rem;
      }

      .tech-tags {
        display: flex;
        flex-wrap: wrap;
    
        .tag {
          align-items: center;
          background-color: var(--col-blue);
          border-radius: 1rem;
          color: var(--col-white);
          display: flex;
          font-size: 0.7rem;
          height: 1.5rem;
          justify-content: center;
          margin-right: 0.25rem;
          margin-bottom: 0.25rem;
          padding: 0.025rem 0.75rem;
        }
      }
    }
  }

  .content {

    .role {
      align-items: center;
      color: var(--col-black);
      display: flex;
      margin-left: 1.5rem;

      .icon {
        color: var(--col-grey);
        font-size: 1.2rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .entry {
  
    .start {
      align-items: flex-start;
      color: var(--col-grey-medium);
      display: flex;
      opacity: 0.6;
      padding-bottom: 1rem;
      position: relative;
      top: -0.25rem;
      transition: all .2s;
      user-select: none;

      .client {
        margin: 0 0 1.5rem 0;
      }

      .year {
        margin-top: -0.25rem;
      }
    }
  }
}
