.timeline {
  padding-bottom: 12rem;
  
  .wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1rem 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    width: 80vw;
  }

  .timeline-nav {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    .slide {
      cursor: pointer;
      padding: 0.5rem;
      transition: all .2s;

      &:hover {
        opacity: 0.8;
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1.2);
      }

      .fill {
        background-color: var(--col-grey);
        border-radius: 0.25rem;
        height: 0.5rem;
        width: 7.5rem;

        &.active {
          background-color: var(--col-blue);
        }
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 640px) {
  .timeline {
    padding-bottom: 6rem;

    .wrapper {
      flex-direction: column;
      overflow: visible;
      padding: 0;
      width: 100%;
    }

    .timeline-nav {
      display: none;
    }
  }
}
