.grid-background-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin-top: -4rem;
  
  .container {
    padding: 0.5rem;
    width: 100%;
    transition: margin .005s;
    transform: rotateX(45deg) rotateY(0deg) rotateZ(-30deg);
    position: relative;

    .column {
      display: flex;
    }
  }
}

@media screen and (max-width: 640px) {
  .grid-background-wrapper {
    display: none;
  }
}
