<div class="work">
  <app-jump-in-box className="web-dev" *ngFor="let discipline of disciplines; let i = index;" [id]="discipline.slug">
    <div class="sub">
      <img class="img" alt="image" [src]="discipline.image" />
      <div class="text-content">
        <h3 class="sub-title">{{i + 1}}. {{discipline.title}}</h3>
        <p class="description">
          {{discipline.shortDescription}}
        </p>
        <a class="link" [href]="'discipline/' + discipline.slug">
          See more
          <i class="material-icons">chevron_right</i>
        </a>
      </div>
    </div>
  </app-jump-in-box>
</div>
