.tag-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  opacity: 0.5;
  margin: auto;

  &.large {
    font-size: 0.9rem;
    opacity: 1;
  }

  .tag {
    background-color: var(--col-grey-darker);
    border-radius: 0.25rem;
    color: var(--col-white);
    display: flex;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.125rem 0.5rem 0.125rem 0.25rem;
    white-space: nowrap;

    &.large {
      align-items: center;
      background-color: var(--col-blue-lighter);
      border-radius: 0.25rem;
      color: var(--col-white);
      font-size: 0.9rem;
      height: 1.5rem;
      margin: 0 0.5rem 0.5rem 0;
      padding: 0.25rem 1rem;
    }
  }
}
