.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: 4rem 0;
  width: 80%;

  .item {
    align-items: center;
    color: var(--col-grey-medium);
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    padding-bottom: 2rem;

    .icon {
      color: var(--col-blue-darker);
      font-size: 2rem;
      margin: 0 0 0.5rem 0;
    }

    .label {
      font-size: 0.9rem;
      text-align: center;
    }
  }
}