<div class="card">
  <i class="back-icon material-icons">sell</i>
  <div class="title-wrapper">
    <span class="title">{{title}} <span class="highlight">{{job.role}}</span> at:</span>
  </div>
  <div class="wrapper">
    <span class="client" *ngFor="let client of job.clients">
      {{'@' + client}}
    </span>
    <div class="meta-links">
      <span class="date">{{job.date_start}}</span>
      <span class="date"> - {{job.date_end ? job.date_end : "Present"}}</span>
      <a class="see-more-link" [href]="'jobs/' + job.slug" *ngIf="showCta">
        <span class="see-more">See more projects like this<i class="icon material-icons">chevron_right</i></span>
      </a>
    </div>
  </div>
</div>
