<div class="content">
  <h1 class="title">Sjoerd van den Broek</h1>
  <h2 class="sub-title">Full-stack Webdeveloper and software engineer</h2>
  <div class="info">
    <div class="row">
      <i class="icon material-icons">pin_drop</i>
      <span class="data">Waalwijk, the Netherlands</span>
    </div>
    <div class="row">
      <i class="icon material-icons">translate</i>
      <span class="data">Dutch, English</span>
    </div>
    <div class="row">
      <i class="icon material-icons">code</i>
      <span class="data">Typescript, Angular, Vue, React, Node</span>
    </div>
  </div>
</div>
