<section class="side-project-list">
  <div class="side-project">
    <div class="text-content">
      <h3 class="title">Perilous Parking</h3>
      <p class="description">
        Perilous Parking is a short, re-playable arcade game made in Unity that lets you drive around town as a parking spot, causing havoc where you go. The game offers a mix of different missions that need to be completed before the timer runs out to earn a spot in the high-scores.
      </p>
      <iframe src="https://itch.io/embed/2023643" width="552" height="167" frameborder="0">
        <a href="https://mrvanderpants.itch.io/perilous-parking">
          Perilous Parking by MRvanderPants
        </a>
      </iframe>
    </div>
    <div class="image">
      <div class="icon-wrapper">
        <img class="icon twitter" src="assets/unity.svg" alt="icon" />
      </div>
    </div>
  </div>

  <div class="side-project">
    <div class="text-content">
      <h3 class="title">Face 2.0 Framework</h3>
      <p class="description">
        Perilous Parking is a short, re-playable arcade game made in Unity that lets you drive around town as a parking spot, causing havoc where you go. The game offers a mix of different missions that need to be completed before the timer runs out to earn a spot in the high-scores.
      </p>
    </div>
    <div class="image">
      <div class="icon-wrapper">
        <img class="icon twitter" src="assets/unity.svg" alt="icon" />
      </div>
    </div>
  </div>
</section>
