<div class="background">
  <app-back-button></app-back-button>
  <app-detail-header [project]="disciplineAsProject" [showTags]="false"></app-detail-header>
  <app-content-block>
    <h1 class="title">
      {{title}}
    </h1>
    <div class="description">
      I have been working in web development for about 6 years now and it is one of my favorite fields to work in. It's very dynamic, ever evolving and there are always new things to learn. Opposed to software development, web development is more about making a splash and offering users a more consise experience.
    </div>
    <h1 class="sub-title">
      Here are some of my favorite web projects:
    </h1>
    <li>List of projects to showcase this skill (villa pardoes, partou</li>
    <li>List of technologies I work with</li>
    <li>List of jobs where I worked as a webdev</li>
  </app-content-block>
</div>
<app-footer theme="blue"></app-footer>
<app-back-to-top></app-back-to-top>
