<div class="background">
  <app-back-button></app-back-button>
  <app-detail-header
    *ngIf="disciplineAsProject"
    [project]="disciplineAsProject"
    [showTags]="false"
    [neutralDescription]="true">
  </app-detail-header>
  <app-content-block>
    <h1 class="sub-title">
      Here are some of my favorite web projects:
    </h1>
    <li>List of projects to showcase this skill (villa pardoes, partou</li>
    <li>List of technologies I work with</li>
    <li>List of jobs where I worked as a webdev</li>
  </app-content-block>
</div>
<app-footer theme="blue"></app-footer>
<app-back-to-top></app-back-to-top>
