<app-header></app-header>
<app-content-block blockTitle="My tech stack" id="tech">
  <p class="description">During my years working as a javascript developer I have come in contact with a plethora of MVCs, frameworks and related technologies. I love the variation that Javascript provides in the modern web development space, like being able to write consise back-end code using Node, or reactive applications in the front-end.</p>
  <app-languages></app-languages>
</app-content-block>
<app-content-block theme="blue" blockTitle="Projects that I have worked on">
  <app-project-grid></app-project-grid>
</app-content-block>
<app-content-block blockTitle="Resume" id="resume">
  <app-resume></app-resume>
</app-content-block>
<app-footer></app-footer>
<app-back-to-top></app-back-to-top>
