@keyframes bop {
  0% {top: -7rem;}
  50% {top: -9rem;}
  100% {top: -7rem;}
}

.move-down {
  display: none;
}

.description {
  padding-bottom: 4rem;

  .accent {
    color: var(--col-blue);
  }
}

.text-description {
  justify-content: center;
  color: var(--col-grey-medium);
  font-size: 1.25rem;
  margin: 2rem 0;
  padding: 3rem 2rem 1rem 2rem;
}

@media screen and (min-width: 640px) {
  .move-down {
    align-items: center;
    background-color: var(--col-white);
    background: url('../../../assets/gfx/shape_blue.svg');
    background-size: cover;
    bottom: -90vh;
    color: var(--col-white);
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 4rem;
    left: calc(50vw - 2rem);
    margin: auto;
    pointer-events: all;
    position: fixed;
    transition: all .2s ease-in-out;
    width: 4rem;
    z-index: var(--z-navigation-overlay);
  
    animation-name: bop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
    &:hover {
      animation-play-state: paused;
      filter: brightness(80%);
      transform: scale(1.05);
    }

    &.hidden {
      pointer-events: none;
      opacity: 0;
    }
  
    .icon {
      transition: all .2s ease-in-out;
    }
  }

  .description {
    color: var(--col-grey-lighter);
    margin: auto;
    padding: 6rem 0;
    width: 80%;
  }

  .negative-container {
    margin: 0 -10vw;
  }
}
