@keyframes bop {
  0% {top: -7rem;}
  50% {top: -9rem;}
  100% {top: -7rem;}
}

.move-down {
  display: none;
}

.text-description {
  background-color: var(--col-blue-desaturated);
  border-radius: 1rem;
  justify-content: center;
  color: var(--col-grey-medium);
  font-size: 1.1rem;
  margin: 2rem 0;
  padding: 3rem 2rem 1rem 2rem;
}

.work {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  
  .sub {
    align-items: center;
    background: url('../../../assets/gfx/shape_white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 0.5rem;
    position: relative;
    width: 33%;

    &:after {
      background: url('../../../assets/gfx/shape_white.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      content: '';
      height: calc(100% + 4rem);
      opacity: 0.33;
      left: -2rem;
      position: absolute;
      top: -2rem;
      transform: rotateZ(180deg);
      width: calc(100% + 4rem);
      z-index: -1;
    }

    .img {
      aspect-ratio: 1/1;
      width: 50%;
    }

    .sub-title {
      color: var(--col-blue-darker);
      font-family: 'Montserrat', sans-serif;
      font-size: 1.25rem;
      font-weight: 600;
      padding: 0.5rem 0;
      text-align: center;
    }

    .description {
      color: var(--col-grey-medium);
      text-align: center;
    }
  }
}

@media screen and (min-width: 640px) {
  .move-down {
    align-items: center;
    background-color: var(--col-white);
    background: url('../../../assets/gfx/shape_blue.svg');
    background-size: cover;
    bottom: -90vh;
    color: var(--col-white);
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 4rem;
    left: calc(50vw - 2rem);
    margin: auto;
    pointer-events: all;
    position: fixed;
    transition: all .2s ease-in-out;
    width: 4rem;
    z-index: 999;
  
    animation-name: bop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
    &:hover {
      animation-play-state: paused;
      filter: brightness(80%);
      transform: scale(1.05);
    }

    &.hidden {
      pointer-events: none;
      opacity: 0;
    }
  
    .icon {
      transition: all .2s ease-in-out;
    }
  }

  .row {
    flex-direction: row;

    .description {
      margin-right: 4rem;
      width: 50vw;
    }

    .languages {
      margin-top: -2rem;
    }
  }
}
