<app-header [projects]="gridProjects"></app-header>
<app-move-down (click)="moveToDescription()"></app-move-down>
<app-content-block blockTitle="This is what I do..." id="tech" #tech theme="dark" [noBackground]="true">
  <app-work-panel [disciplines]="disciplines"></app-work-panel>
</app-content-block>
<app-jump-in-box className="jobs-timeline" direction="right" id="resume">
  <app-content-block blockTitle="Where I've worked before">
    <app-timeline [jobs]="jobs" id="job-timeline">
      <app-timeline-resume-item
        *ngFor="let job of jobs; let i = index"
        [job]="job">
      </app-timeline-resume-item>
    </app-timeline>
  </app-content-block>
</app-jump-in-box>
<app-footer></app-footer>
<app-back-to-top></app-back-to-top>
