@keyframes bop {
  0% {top: -7rem;}
  50% {top: -9rem;}
  100% {top: -7rem;}
}

.move-down {
  display: none;
}

.row {
  display: flex;
  flex-direction: column;

  .description {
    justify-content: center;
    color: var(--col-grey-medium);
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 640px) {
  .move-down {
    align-items: center;
    background-color: var(--col-white);
    background: url('../../../assets/gfx/shape_blue.svg');
    background-size: cover;
    color: var(--col-white);
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 4rem;
    margin: auto;
    left: calc(50% - 2rem);
    pointer-events: all;
    position: absolute;
    transition: all .2s ease-in-out;
    width: 4rem;
    z-index: 999;
  
    animation-name: bop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  
    &:hover {
      animation-play-state: paused;
      filter: brightness(80%);
      transform: scale(1.05);
    }
  
    .icon {
      transition: all .2s ease-in-out;
    }
  }

  .row {
    flex-direction: row;

    .description {
      margin-right: 4rem;
      width: 50vw;
    }

    .languages {
      margin-top: -2rem;
    }
  }
}
