/* You can add global styles to this file, and also import other style files */
@import 'styles/variables.scss';

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  // background-color: var(--col-grey-lightest);
  overflow-x: hidden;
  width: 100vw;
}

.observable {
  opacity: 0;
  transition: opacity .5s ease-in-out;

  &.fade-in {
    opacity: 1;
  }
}

.capitalize {
  text-transform: capitalize;
}

.button {
  align-items: center;
  background-color: var(--col-green-back);
  border-radius: 0.25rem;
  border: none;
  color: var(--col-white);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  width: fit-content;

  .icon {
    margin-left: 0.5rem;
  }

  &:hover:not(:disabled) {
    background-color: var(--col-green-darker);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

@media screen and (max-width: 640px) {
  body {
    padding-bottom: 1.75rem;
  }
}