/* You can add global styles to this file, and also import other style files */
@import 'styles/variables.scss';

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: var(--col-grey-lightest);
  overflow-x: hidden;
  width: 100vw;
}

.observable {
  opacity: 0;
  transition: opacity .5s ease-in-out;

  &.fade-in {
    opacity: 1;
  }
}

@media screen and (max-width: 640px) {
  body {
    padding-bottom: 1.75rem;
  }
}