.item {
  border-bottom: 0.2rem dashed #4aa5ff25;
  display: flex;
  flex-direction: column;
  height: calc(100% - 2rem);
  justify-content: space-between;
  padding: 2rem 1rem 0 1rem;

  .item__wrapper {
    background-color: var(--col-blue-desaturated-dark);
    border-radius: 0.5rem;
    height: 100%;
    margin-right: 1rem;
    padding: 2rem;
    width: calc(((80vw - 2rem) / 3) - 6rem);

    -webkit-box-shadow: 0 0.25rem 1rem 0.25rem #00000010;
    -moz-box-shadow:    0 0.25rem 1rem 0.25rem #00000010;
    box-shadow:         0 0.25rem 1rem 0.25rem #00000010;

    .title {
      letter-spacing: 0.05rem;
      transition: opacity .2s;

      &:hover:not(.no-url) {
        opacity: 0.6;;
      }

      .sub-title {
        color: var(--col-blue);
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1rem;
        font-weight: bold;
        padding-bottom: 0.25rem;
      }
    }

    .content {
      .role {
        color: var(--col-grey);
        display: block;
        margin: 0.5rem 0 1rem 0;
      }

      .description {
        color: var(--col-grey-60);
        font-size: 0.9rem;
        margin-top: 0.5rem;
      }

      .tech-tags {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.8rem;
        opacity: 0.5;
  
        .tag {
          align-items: center;
          background-color: var(--col-grey);
          border-radius: 0.25rem;
          display: flex;
          margin: 0 0.5rem 0.5rem 0;
          padding: 0.125rem 0.5rem 0.125rem 0.25rem;
          white-space: nowrap;
  
          .icon {
            font-size: 1rem;
            margin-right: 0.25rem;
          }
        }
      }
    }
  }

  &.active .item__wrapper{
    background-color: var(--col-blue-darker);

    .sub-title {
      color: var(--col-white) !important;
    }

    .role,
    .description {
      color: var(--col-grey-lighter) !important
    }
  }

  .pin {
    margin: 0 0 -0.6rem -1rem;
    padding-top: 2rem;

    .label {
      color: var(--col-grey-medium);
      display: block;
      padding: 0.25rem 1rem 0.5rem 1rem;
      margin-left: 0.5rem;
      transform: rotateZ(-35deg);
      width: fit-content;
    }

    .dot {
      background-color: var(--col-blue);
      border-radius: 0.5rem;
      height: 1rem;
      width: 1rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .item {
    border-bottom: none;
    padding: 1rem 0;

    .item__wrapper {
      margin: 0;
      padding: 1.5rem;
      width: inherit;

      -webkit-box-shadow: 0 0.25rem 1rem 0.25rem #00000010;
      -moz-box-shadow:    0 0.25rem 1rem 0.25rem #00000010;
      box-shadow:         0 0.25rem 1rem 0.25rem #00000010;
    }

    .pin {
      display: none;
    }
  }
}
